<!DOCTYPE html>
<html>
<head>
  <meta name="viewport">
  <link rel="stylesheet" type="text/css" href="/css/style.css" >
</head>

<body>
  <div>
    <table>
      <tr>
        <th><%= @duel.id %></th>
      </tr>
    </table>
  </div>
</body>
</html>